In [1]:
import pandas as pd

df1 = pd.DataFrame({
    'org_code': ['A222', 'A252', 'B100019'],
    'dummy_code': [222, 252, 100019],
    'sub_key': [1,2,3],
    'user_name': ['mary', 'john', 'david'],
    'amount': [222, 313,  100019],
})


df2= pd.DataFrame({
    'org_code': ['S6258', 'B100019'],
    'dummy_code': [6258, 100019],
    'sub_key': [4,3],
    'user_name': ['peter', 'david'],
    'amount': [2232, 126],
})

org_columns = list(df1.keys())
key_columns = ['org_code']
df_all = pd.concat([df1.set_index(key_columns), df2.set_index(key_columns)], axis='columns', keys=['df1', 'df2'])
final_1 = df_all['df1'].reset_index()[org_columns]

KeyError: "['org_code'] not in index"

In [2]:
df_all

               df1                                    df2                    \
        dummy_code sub_key user_name    amount dummy_code sub_key user_name
A222         222.0     1.0      mary     222.0        NaN     NaN       NaN
A252         252.0     2.0      john     313.0        NaN     NaN       NaN
B100019   100019.0     3.0     david  100019.0   100019.0     3.0     david
S6258          NaN     NaN       NaN       NaN     6258.0     4.0     peter


         amount
A222        NaN
A252        NaN
B100019   126.0
S6258    2232.0